.pytest_cache/
.vscode/
.coverage
coverage.xml
htmlcov/
__pycache__/
archive/
dist/
build/
nexus_cat.egg-info/

examples/outputs/*
examples/inputs/ordinary_percolation/
examples/inputs/nexus_inputs
examples/inputs/nexus_inputs_all
examples/inputs/quicktest-perco.py

benchmarks/performance/data/performance_data_generated_20260528.tar.gz
benchmarks/performance/export-reference/
benchmarks/performance/output-reference/

benchmarks/validation/data/20/
benchmarks/validation/data/25/
benchmarks/validation/data/30/
benchmarks/validation/data/35/
benchmarks/validation/data/40/
benchmarks/validation/data/45/
benchmarks/validation/data/50/
benchmarks/validation/data/validation_data_generated_20260528.tar.gz
benchmarks/validation/output-reference/
benchmarks/validation/output/20/
benchmarks/validation/output/25/
benchmarks/validation/output/30/
benchmarks/validation/output/35/
benchmarks/validation/output/40/
benchmarks/validation/output/45/
benchmarks/validation/output/50/
benchmarks/validation/output/data_collapse/
benchmarks/validation/output/scaling_laws/
benchmarks/validation/output/validation_reproduced.png/

./README_for_Editors.md
