__pycache__/
archive/
old/
build/
nexus_cat.egg-info/
dist/
archive_dist/
tests/
tutorial/outputs/
reference-check/
nexus_test/
my_tests/
./assets/Logo_Nexus-CAT_RVB_1.jpg
./assets/Logo_Nexus-CAT_RVB_2.jpg
./assets/Logo_Nexus-CAT_RVB_3.jpg
./assets/Logo_Nexus-CAT_RVB_2.png
./assets/Logo_Nexus-CAT_RVB_3.png
launch-nexus-quick-test.py
examples/outputs/

examples/inputs/ordinary_percolation/20/*.xyz
examples/inputs/ordinary_percolation/25/*.xyz
examples/inputs/ordinary_percolation/30/*.xyz
examples/inputs/ordinary_percolation/35/*.xyz
examples/inputs/ordinary_percolation/40/*.xyz
examples/inputs/ordinary_percolation/45/*.xyz
examples/inputs/ordinary_percolation/50/*.xyz
examples/inputs/flips/temperature3/*.xyz
examples/inputs/flips/*.zip
examples/inputs/H2O/
examples/inputs/a-Si/

setup_old.py