.pytest_cache/
__pycache__/
archive/
dist/
build/
benchmarks/
tools/
examples/outputs/*
examples/inputs/ordinary_percolation/
examples/inputs/nexus_inputs
examples/inputs/nexus_inputs_all
examples/inputs/quicktest-perco.py
nexus_cat.egg-info
.vscode/
